
@{
    var ModelName = "Страница менеджера";
    ViewData["Title"] = ModelName;
}

<h2>@ModelName</h2>

<h3><a asp-controller="Manager" asp-action="Orders">Заказы</a></h3>
<h3><a asp-controller="Manager" asp-action="Employees">Сотрудники</a></h3>
<h3><a asp-controller="Expenses" asp-action="Index">Затраты</a></h3>