
@{
    var ModelName = "Tech Page";
    ViewData["Title"] = ModelName;
}

<h2>@ModelName</h2>

<h3><a asp-controller="Pizzas" asp-action="Index">Pizzas</a></h3>
<h3><a asp-controller="Tech" asp-action="Ingridients">Ingredients</a></h3>