@using System.Security.Cryptography
@model Order

@{
    ViewData["Title"] = "Check Out";
    ViewData["h1"] = "Создаем заказ";
}

<h1> Создаем ваш заказ</h1>

<tbody>
    @{ decimal totalPrice = 0m;}
    @foreach (ShoppingCartItem line in ViewBag.Items)
{
    <dt>
        Название
    </dt>
    <dd>
        @line.Pizza.Name
    </dd>
    <dt>
        Количество
    </dt>
    <dd>
        @line.Amount
    </dd>
    <dt>
        Подсумма
    </dt>
    <dd>
        @((line.Amount * line.Pizza.Price).ToString("c"))
    </dd>
    totalPrice += line.Amount * line.Pizza.Price;
}
    <dd>
        Общая сумма
    </dd>
    <dt>
        @totalPrice
    </dt>
</tbody>
<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
    <h2>Вы всего в одном шаге от вкусной пиццы</h2>
    <hr />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="AddressLine1" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="AddressLine1" class="form-control" />
            <span asp-validation-for="AddressLine1" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Подтвердить" />
        </div>
    </div>
    
</form>