@{
    ViewData["Title"] = "Заказ зарегистрирован";
}

<h1>@ViewBag.CheckoutCompleteMessage </h1>
<h1>@ViewBag.Message</h1>
<h1>Для отслеживания перейдите по ссылке: <a>@ViewBag.Track</a></h1>

<h2>Заказ зарегистирован</h2>