@model SearchPizzasViewModel

@{
    var pageName = "Меню";
    ViewData["Title"] = pageName;
}

<h2>@pageName</h2>
<div id="SuggestOutput"></div>

@if (Model.SearchText != null)
{
    <h4>Результаты</h4>
}
else
{
    <h4>Все пиццы</h4>
}
<hr />

<div id="PizzaSummaryId">
    @foreach (var pizza in Model.PizzaList)
    {
        @Html.Partial("PizzaSummary", pizza)
    }
</div>
<br />